.filter-panel{
    width: 100%;
    height: 75vh;
    position: relative;
    
    background-color: rgb(255, 255, 255);
    margin:.8em;
    padding:.5em;
    border-radius: .4em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.item-link{
    margin: 1em;
}
.item-link ul{
    list-style: none;
}
.item-link ol{
    display:flex;
    padding-left:.5em;
    margin-left: 1.8em;
    border: 2px rgb(214, 214, 214) solid;
    list-style: none;
    border-radius:2em;
    width:70%;
}
.item-link > ol >li{
    width: 30px;
    height:30px;
    background-color: #ef6;
    border-radius: 50%;
    margin: .2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size:1.1em;
    font-family: 'Times New Roman', Times, serif;
   color: #fff;
    
}

.slider{
    height: .2em;
}

@media(max-width:780px){
    .filter-panel{
        width: 80%;
        margin:auto;
    }
}